{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}

            <h2>Eléments de la liste :</h2>
            <table id="sort" class='table table-striped table-bordered'>
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Valeur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in elements %}

                    {% if item.status == 1 %}
                        {% set color =  "style=background-color:#FFFFFF;color:#0000;" %}
                    {% elseif item.status == 0 %}
                        {% set color =  "style=background-color:#EFEFEF;color:#A0A0A0;" %}
                    {%  endif %}

                    <tr id="element_{{ item.id }}" style="cursor: pointer;">
                        <td {{ color }}>{{ item.id }}</td>
                        <td {{ color }}>{{ item.name }}</td>
                        <td {{ color }}>{{ item.value }}</td>
                        <td {{ color }}>
                            <a onclick="editElement({{ item.id }})" alt="Editer" ><img title="Editer" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/editer.png') }}"/></a>
                            <!--<a href="#" onClick="if (confirm ('Confirmez vous la suppression ?')) window.location.href='{{ path('_referenceList_delete', {'id': item.id}) }}'"  alt="Supprimer"><img title="Supprimer" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/supprimer.png') }}"/></a>-->
                        </td>
                    </tr>

                {% else %}

                    <tr>
                        <td colspan="4">Aucun élément dans cette liste</td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
