{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <hgroup id="main-title" class="thin">
        <h1>Administration des formulaires</h1>
    </hgroup>

    <div class="columns">

    <div class="eight-columns with-padding">

        <h3 class="thin underline">Liste des formulaires</h3>

        <table class="table responsive-table" id="sorting-advanced">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            {% for item in forms %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td style="text-align:center">
                        <center>
                            <button type="button" class="button compact blue-gradient" style="margin:0px 0px 0px 5px" onClick="window.location.href='{{ path('_form_edit', {'id': item.id}) }}'">Edit</button>
                            <button type="button" class="button compact red-gradient" style="margin:0px 0px 0px 5px" onClick="window.location.href='{{ path('_form_delete', {'id': item.id}) }}'">Delete</button>
                            <button type="button" class="button compact anthracite-gradient" style="margin:0px 0px 0px 5px" onClick="window.open('{{ path('_client_get_form', {'id': item.id}) }}');">Preview</button>
                            <button type="button" class="button compact orange-gradient" style="margin:0px 0px 0px 5px" onClick="window.location.href='{{ path('_entity_leads_export', {'id': item.id}) }}'">Exporter</button>
                        </center>

                    </td>
                    <td align="center"><a href="javascript:void(0)" id="bookmark-{{ item.id }}" class="bookmark-link {% if item.bookmark %} starred {% else %} unstarred {% endif %}" data-form-id="{{ item.id }}" title="Epingler dans le Tableau de bord">Favori</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>


</div>


<div class="three-columns with-padding">

    <h3 class="thin underline">Actions</h3>

    <p class="button-height">
        <a href="{{ path ('_form_new') }}" class="button huge full-width green-gradient glossy">Créer un formulaire</a>
    </p>

</div>
</div>

{% endblock %}
{% block javascript %}
<script>
    // Table sort - DataTables
    var table = $('#sorting-advanced');
    table.dataTable({

        'sPaginationType': 'full_numbers',
        'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
        'fnInitComplete': function( oSettings )
        {
            // Style length select
            table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
            tableStyled = true;
        }
    });

    $(document).ready(function(){

        //Bookmark
        $('.bookmark-link').click(function(){
            var el = this;
            var form_id = $(this).attr('data-form-id');
            var url = "{{ path('_monitoring_bookmark') }}";

            var status = $(this).hasClass('starred') ? false : true;

            $.post(url, {'entity':'Form', 'id': form_id, 'status':status}, function(){
                if($(el).hasClass('starred')){
                    $(el).removeClass('starred').addClass('unstarred');
                }else{
                    $(el).removeClass('unstarred').addClass('starred');
                }
            })
        });
    });
</script>
{% endblock %}