{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <script>

        function validateFormAction() {
            // JSON String treatment
            document.getElementById("mkgSegmentation_config").value = JSON.stringify(editor.get());
        }

    </script>

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="col-md-8">
        <div class="widget-body custom-form">
            {{ form(form) }}
        </div>
    </div>

    <div class="col-md-4">
        {% if id is defined %}
            <h3 class="custom-heading">Actions:</h3>
            <div>
                <button type="button" class="btns  blue  m-sml-btn"
                        onClick="window.location.href='{{ path('_marketing_segment_new_config', {'segmentation_id': id}) }}'">
                    <i class="glyphicon glyphicon-plus"></i> Ajouter un segment
                </button>
            </div>
            <div style="clear:both"></div>
        {% endif %}

    </div>

    <div class="col-md-12">
        {{ error }}
    </div>

    {% if segments is defined %}
        <div class="col-md-8">
        <h3 >Liste des segments existants</h3>
        {% if segments is empty %}
            <h4>Aucun segment existant</h4></div>
        {% else %}
            <table id="" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Nom</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for segment in segments %}
                    <tr>
                        <td>{{ segment.id }}</td>
                        <td>{{ segment.created|date("d/m/Y") }}</td>
                        <td>{{ segment.name }}</td>
                        <td style="text-align:center">
                            <a href="{{ path('_marketing_segment_edit', {'id': segment.id}) }}" alt="Editer"><img title="Editer" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/editer.png') }}"/></a>
                            <a href="#" onClick="if (confirm ('Confirmez vous la suppression ?')) window.location.href='{{ path('_marketing_segment_delete', {'id': segment.id}) }}'"  alt="Supprimer"><img title="Supprimer" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/supprimer.png') }}"/></a>
                            <a href="{{ path('_marketing_segment_download_csv', {'id': segment.id}) }}"  alt="Télécharger le CSV"><img title="Télécharger le CSV" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons/12.png') }}"/></a>
                            <a href="{{ path('_marketing_segment_view', {'id': segment.id}) }}"  alt="Voir les données"><img title="Voir les données" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/statistiques.png') }}"/></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    {% endif %}

{% endblock %}