<html>
    <head></head>
    <body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">\r\n
        Bonjour {{ user_data.firstName }} {{ user_data.lastName }}<br/><br/>\r\n
        {{ content }}<br/><br/>\r\n
        En cas d'urgence, n'hésitez pas à nous contacter directement par téléphone au {{ tel }}<br/><br/>\r\n
        Cordialement,<br/>\r\n
        Le Service Client <br/>\r\n
        Comundi<br/>\r\n
        Immeuble Pleyad 1<br/>\r\n
        39 bd Ornano - <br/>\r\n
        93288 Saint-Denis Cedex<br/>\r\n
        Tél : {{ tel }}<br/>\r\n
        Fax : 01.84.03.05.58<br/>\r\n
        Mail : {{ mail_contact }}<br/>\r\n
    </body>
</html>