<html>
    <head></head>
    <body>
    Nom : {{ user_data.lastName|upper  }}<br>
    Pr&eacute;nom : {{ user_data.firstName|capitalize  }}<br>
    {% if user_data.etablissement is defined %}
    Soci&eacute;t&eacute; : {{ user_data.etablissement }}<br>
    {% endif %}
    Code postal : {{ user_data.zip }}<br>
    T&eacute;l&eacute;phone : {{ user_data.phone }}<br>
    Email : {{ user_data.email }}<br>
    Votre demande : {{ user_data.sujet_label }}<br>
    {% if user_data.budget != '' %}
        Budget : {{ user_data.budget }}<br>
    {% endif %}

    {% if user_data.datelimite != '' %}
        Date limite de réponse : {{ user_data.datelimite }}<br>
    {% endif %}

    Détails : {{ user_data.comment }}
    {% if user_data.demande_rdv is defined %}
        {% if user_data.demande_rdv == '1' %}
            <br><br>Cette personne souhaite être contactée dans les meilleurs délais par Comundi.
        {% endif %}
    {% endif %}
    </body>
</html>
