<html>
    <head></head>
    <body>
    {% if user_data.lastName is defined %}Nom : {{ user_data.lastName|upper  }}<br>{% endif %}
    {% if user_data.firstName is defined %}Pr&eacute;nom : {{ user_data.firstName|capitalize  }}<br>{% endif %}
    {% if user_data.etablissement is defined %}Soci&eacute;t&eacute; : {{ user_data.etablissement }}<br>{% endif %}
    {% if user_data.zip is defined %}
    Code postal : {{ user_data.zip }}<br>
    {% endif %}
    {% if user_data.phone is defined %}T&eacute;l&eacute;phone : {{ user_data.phone }}<br>{% endif %}
    {% if user_data.email is defined %}Email : {{ user_data.email }}<br>{% endif %}
    {% if user_data.sujet_label is defined %}Votre demande : {{ user_data.sujet_label }}<br>{% endif %}
    {% if user_data.budget != '' %}
        Budget : {{ user_data.budget }}<br>
    {% endif %}

    {% if user_data.datelimite != '' %}
        Date limite de réponse : {{ user_data.datelimite }}<br>
    {% endif %}

    Détails : {{ user_data.comment }}
    {% if user_data.demande_rdv is defined %}
        {% if user_data.demande_rdv == '1' %}
            <br><br>Cette personne souhaite être contactée dans les meilleurs délais par Comundi.
        {% endif %}
    {% endif %}
    </body>
</html>
