<html>
<head>

    <script src="{{ asset('bundles/tellawleadsfactory/js/jquery-1.10.2.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/tellawleadsfactory/js/libs/formValidator/developr.validationEngine.css') }}" />

    <script type="text/javascript" style="display:none">

        jQuery.when(

                jQuery.getScript("{{ path('_client_twig' , {'code': form.code } ) }}"),
                jQuery.getScript("{{ asset('/bundles/tellawleadsfactory/js/libs/formValidator/jquery.validationEngine.js') }}"),
                jQuery.getScript("{{ asset('/bundles/tellawleadsfactory/js/libs/formValidator/languages/jquery.validationEngine-fr.js') }}"),
                jQuery.getScript("{{ asset('/bundles/tellawleadsfactory/js/lf.js') }}"),
                jQuery.getScript("{{ asset('/bundles/wekaleadsexport/js/libs/phoneformat.js') }}"),
                jQuery(document).data("readyDeferred")

        ).done(function(){

                    jQuery.when(
                            jQuery.getScript("{{ asset('/bundles/wekaleadsexport/js/ti/webcallback.js') }}")
                    ).done(function() {

                                var params = {};
                                jQuery('#form-content').html(leadsfactory.html);
                                var formId = "";

                                $("form").each(function(){
                                    formId =  $(this).attr("id");
                                });

                                leadsfactory.init( formId , params, {});

                            });
                });

    </script>

</head>
<body>
<div id="form-content"></div>

</body>
</html>