{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="col-md-8">
        <div class="widget-body custom-form">
            {{ form(form) }}
        </div>
    </div>

    <a href="{{ path('_marketing_segmentation_edit', {'id': segmentation_id}) }}">Retour à la segmentation</a>
    <br><br>
    {% if action == 'edit' %}
        <a class="btn blue" href="{{ path ('_marketing_segment_download_csv', {'id': id}) }}">Télécharger le CSV</a>
        <a class="btn blue" href="{{ path('_marketing_segment_view', {'id': id}) }}">Visualiser les données</a>
    {% endif %}
    <div class="col-md-12">
        {{ error }}
    </div>

{% endblock %}