{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

	<div class="col-md-12">
        <div class="col-md-8">
        <div class="heading-sec" id="intro6">
            <h1>Administration <i>du moteur de recherche</i></h1>
            <div style="clear:both"></div>
            <div class="titleDescription"><em>,,,</em></div>
        </div>
        </div>
	</div>
    <div class="col-md-12">
        <h3 class="custom-heading">Administration de la recherche:</h3>

            Etat du service :

            {% if (status) %}
                <span style="color:#00AA00"><b>OK : Le service de recherche est disponible</b></span>
            {% else %}
                <span style="color:#AA0000"><b>KO : Service Indisponible</b></span>
            {% endif %}
<br/><br/>
<pre>
            {{ elasticResponse }}
</pre>
<br/>
<button type="button" class="btns  blue  m-sml-btn " style="margin:0px 0px 0px 5px" onclick="window.location.href='{{ path('_search_run') }}'">Relancer le service de recherche</button>

<button type="button" class="btns  pink  m-sml-btn " style="margin:0px 0px 0px 5px" onclick="window.location.href='{{ path('_search_stop') }}'">Stopper le service de recherche</button>

<button type="button" class="btns  pink  m-sml-btn " style="margin:0px 0px 0px 5px" onclick="window.location.href='{{ path('_search_create_index') }}'">Créer l'index</button>

<button type="button" class="btns  pink  m-sml-btn " style="margin:0px 0px 0px 5px" onclick="window.location.href='{{ path('_search_index_documents') }}'">Demander l'indéxation des documents</button>

<button type="button" class="btns  pink  m-sml-btn " style="margin:0px 0px 0px 5px" onclick="window.location.href='{{ path('_search_delete_index') }}'">Supprimer l'index</button>

<br/>
<br/>

<pre>
{{ stats }}
</pre>

        </div>
    </div>



</div>
{% endblock %}
{% block javascript %}

{% endblock %}