{% extends 'TellawLeadsFactoryThemeBundle::base.html.twig' %}
{% block body %}

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>Administration <i>des SCOPES</i></h1>
        </div>
    </div>

    <div class="col-md-8">
        <h3 class="custom-heading">Liste des scopes:</h3>
        <div class="">
            <div class="streaming-tables">
                <span id="found" class="label label-info"></span>
                <table id="stream_table" class='table table-striped table-bordered'>
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="summary">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% raw %}
    <script id="template" type="text/html">
        <tr>
            <th>{{ record.identifiant }}</th>
            <th>{{ record.code }}</th>
            <th>{{{ record.name }}}</th>
            <th>{{{ record.actions }}}</th>
        </tr>
    </script>
    {% endraw %}

    <script type="text/javascript">


        var template = Mustache.compile($.trim($("#template").html()));

        var view = function(record, index){
            return template({record: record, index: index});
        };

        var datas = [
            {% for item in entities %}
            {   identifiant: '{{ item.id }}',
                code: '{{ item.code }}',
                name: '{{ item.name}}',
                actions: '<button type="button" class="btns  blue  m-sml-btn " style="margin:0px 0px 0px 5px" onClick="window.location.href=\'{{ path('_scope_edit', {'id': item.id}) }}\'">Editer</button><button type="button" class="btns  red  m-sml-btn " style="margin:0px 0px 0px 5px" onClick="window.location.href=\'{{ path('_scope_edit', {'id': item.id}) }}\'">Supprimer</button>'
            }{% if loop.last==false %},{% endif %}
            {% endfor %}
        ];

        var options = {
            view: view,                  //View function to render table rows.
            fetch_data_limit: 500,       //Streaming data in batch of 500
            pagination: {span: 5, next_text: 'Suivant &rarr;', prev_text: '&larr; Précédent'}
        }

        var st = StreamTable('#stream_table', options, datas);
    </script>


    <div class="col-md-4">

        <h3 class="custom-heading">Actions:</h3>

        <div class="btn-group btn-group-justified">
            <a class="btn green" href="{{ path ('_scope_new') }}">Créer un scopte</a>
        </div>

    </div>



{% endblock %}
{% block javascript %}
    <script>
        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({

            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });
    </script>
{% endblock %}
