{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}
    <hgroup id="main-title" class="thin">
        <h1>{{ title }}</h1>
    </hgroup>
    <div class="columns">

        <div class="with-padding eight-columns">

            <h3 class="thin underline">Edition de la liste de référence</h3>
            {{ form(form) }}

        </div>

        <div class="with-padding three-columns">

            <h3 class="thin underline">Actions</h3>

                <p class="button-height">
                    <a href="javascript:openDialog();" class="button huge full-width green-gradient glossy">Créer un élément</a>
                </p>

        </div>

        <div class="with-padding twelve-columns">

            <h3 class="thin underline">Liste des éléments de la liste</h3>

            <table id="sorting-advance" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Parent</th>
                    <th><center>Actions</center></th>
                </tr>
                </thead>
                <tbody>

                {% for item in elements %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.parent.id }}</td>
                        <td style="text-align:center">
                            <center>
                                <button type="button" class="btns  pink  m-sml-btn " style="margin:0px 0px 0px 5px" onClick="window.location.href='{{ path('_referenceList_deleteElement', {'id': item.id , 'referenceListId': referenceListId}) }}'">Delete</button>
                            </center>
                        </td>
                    </tr>

                {% else %}

                    <tr>
                        <td colspan="4">Aucun élément dans cette liste</td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

    <div class="avgrund-popup stack modal" id="default-popup" style="display:none" >
        <div class="modal-header">
            <h3 id="myModalLabel">Experimental</h3>
        </div>
        <div class="modal-body">
           <form action="{{ path('_referenceList_addElement') }}" id="addElementToListForm" method="POST">
               <input type="hidden" name="referenceListId" value="{{ referenceListId }}"/>
               <table>
                   <tr>
                        <td>Nom</td>
                       <td><input type="text" name="name" style="border:1px solid #e0e0e0;width:250px;"/></td>
                   </tr>
                   <tr>
                       <td>Valeur</td>
                       <td><input type="text" name="value" style="border:1px solid #e0e0e0;width:250px;"/></td>
                   </tr>
                   <tr>
                       <td>Parent</td>
                       <td><input type="text" name="parent" style="border:1px solid #e0e0e0;width:250px;"/></td>
                   </tr>
               </table>

           </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-success" onclick="javascript:document.getElementById('addElementToListForm').submit();">Enregistrer</button>&nbsp;
            <button class="btn btn-primary" onclick="javascript:closeDialog();">Close</button>
        </div>
    </div>
    <div class="avgrund-cover"></div>

    <script>
        function openDialog() {
            $.modal({
                title: 'Iframe content',
                url: '{{ path ('_referenceList_addElementModal' , {'referenceListId': referenceListId}) }}'
            });
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>

{% endblock %}
{% block javascript %}
    <script>
        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({

            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });
    </script>
{% endblock %}