<div class="panel-heading black">
    <h4 class="panel-title">
        <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
            Etat des exports
        </a>
    </h4>
</div>
<div class="panel-collapse" id="collapseThree" style="height: 0px;">
    <div class="panel-body">

        <table id="country-list" class="sortable-table">
            <thead>
            <tr class="country-table-head">
                <th >ID</th>
                <th >Methode</th>
                <th>Status</th>
                <th>Log</th>
            </tr>
            </thead>
            <tbody>



{% if elements %}
    {% for element in elements %}

        {% if element.status == 0 %}
            {% set statusLibelle = "En attente" %}
            {% set color =  "" %}
        {% elseif element.status == 1 %}
            {% set statusLibelle = "Exporté avec Succès" %}
            {% set color =  "style=background-color:#33CC33;color:#FFFFFF;" %}
        {% elseif element.status == 2 %}
            {% set statusLibelle = "1ere tentative echouée" %}
            {% set color =  "style=background-color:#CCCC66;color:#FFFFFF;" %}
        {% elseif element.status == 3 %}
            {% set statusLibelle = "Problèmes d'exports" %}
            {% set color =  "style=background-color:#FF3300;color:#FFFFFF;" %}
        {% elseif element.status == 4 %}
            {% set statusLibelle = "Non planifié" %}
            {% set color =  "" %}
        {% elseif element.status == 5 %}
            {% set statusLibelle = "Email non validé" %}
            {% set color =  "style=background-color:#FFFF6B;color:#000000;" %}
        {%  endif %}

        <tr>
            <td {{ color }} >{{ element.id }}</td>
            <td {{ color }} >{{ element.method }}</td>
            <td {{ color }} >{{ statusLibelle }}</td>
            <td {{ color }} >{{ element.log }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="4">Aucun export planifié</td></tr>
{% endif %}

            </tbody></table>

    </div>
</div>
