{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% form_theme filters_form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}
{% block body %}

    <style>
        .ui-autocomplete {
            background-color: #FFF;
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            width: 308px;
            border: 1px solid #e0e0e0;
            cursor: pointer;
            padding: 0px;
        }

        .ui-autocomplete li {
            display: block;
            padding: 5px 0px 5px 12px;
        }

        .ui-autocomplete li:hover {
            background-color: #e0e0e0;
        }

        .filter_form form {
            margin-top: -4.5%
        }

        .filter_form form #form div {
            display: inline-block;
            width: 45%;
            margin: 1%;
        }

        #row-form_form {
            width: 92.5% !important;
        }

        .filter_form form .form-actions {
            display: block !important;
        }

        .filter_form form .form-actions .span3 {
            display: none !important;
        }

        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
            height: 100px;
        }

        .toggle-filters-btn {
            text-align: right;
            top: -2%;
        }

        .toggle-filters-btn strong {
            cursor: pointer;
            text-align: right
        }

        .toggle-filters-btn strong:hover {
            text-decoration: underline
        }
    </style>
    <input type="hidden" id="defaultUser" value="{{ user.firstName|capitalize }} {{ user.lastName|capitalize }}"/>




    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>Administration
                <i>
                    des leads
                    {% if type == 'mylist' %} m'étant affectées {% endif %}
                </i></h1>
            <div style="clear:both"></div>
            <div class="titleDescription">
                <em>
                    {% if type == 'list' %}
                        Un &laquo;leads&raquo; représente un formulaire posté depuis un de vos sites vers votre SI. Il s'agit de l'enregistrement brut des données, qui suivant votre configuration dans le formulaire source, va donner des exports vers les differents outils de votre système d'informations.
                    {% else %}
                        Un «leads» représente un formulaire posté depuis un de vos sites vers votre SI. Il s'agit de l'enregistrement brut des données, qui suivant votre configuration dans le formulaire source, va donner des exports vers les differents outils de votre système d'informations.
                    {% endif %}
                </em>
                <br/><br/>
            </div>
        </div>
    </div>

    <div class="col-md-12 filter_form">
        <div class="widget-body custom-form">
            <h2 style="margin-left:20px;">Filtrer la liste</h2>
            {{ form(filters_form) }}
        </div>
        {% if not ( is_granted('ROLE_DISPATCH') or is_granted('ROLE_ADMIN') ) %}
            <script>
                $("#row-form_affectation").find("input").attr("disabled", true);
            </script>
        {% endif %}
    </div>

    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    Suivi commercial
                </a>
            </li>
            {% if (isManagerOfATeam) %}
                {% for teamName, teamId in teams %}
                    <li role="presentation">
                        <a href="#{{ teamId }}" aria-controls="profile" role="tab" data-toggle="tab">
                            {{ teamName }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if (isInADpt) %}
                {% for dptName, dptId in departements %}
                    <li role="presentation"><a href="#{{ dptId }}" aria-controls="profile" role="tab" data-toggle="tab">Suivi
                            du département "{{ dptName }}"</a></li>
                {% endfor %}
            {% endif %}

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="display:block">
            <div role="tabpanel" class="tab-pane active in" id="home">
                <div class="col-md-12" style="min-height:400px">&nbsp</div>
                <!-- Ajax loaded content -->
            </div>

            {% if (isManagerOfATeam) %}

                {% for teamName, teamId in teams %}

                    <!-- Panel mon equipe -->
                    <div role="tabpanel" class="tab-pane" id="{{ teamId }}">

                        <!-- Ajax loaded content -->
                        <div class="col-md-12" style="min-height:400px">
                            &nbsp;
                        </div>

                    </div>

                {% endfor %}

            {% endif %}

            {% for dptName, dptId in departements %}

                <div role="tabpanel" class="tab-pane" id="{{ dptId }}">

                    <!-- Ajax loaded content -->
                    <div class="col-md-12" style="min-height:400px">
                        &nbsp;
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            initViewFilter();
            setAutoComplete();

            // Javascript to enable link to tab
            var url = document.location.toString();
            if (url.match('#')) {
                $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').click();
            }

            $('#filterform').on('submit', function (e) {
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                var $this = $(this);
                $.ajax({
                    url: '{{ path ('_leads_fragment_filterparam') }}',
                    type: $this.attr('method'),
                    data: $this.serialize(),
                    success: function () {
                        updateTabs();
                    }
                });

            });

            updateTabs();

        });
        function initViewFilter() {
            $(".filter_form form").prepend('<div class="form-group toggle-filters-btn ' +
                    'col-md-12"><strong>[<i class="toggle-filters-i">-</i>] Filtrage avancé</strong></div>');

            var url = window.location.href;
            var matches = url.match(/[a-z\d]+=[a-z\d]+/gi);
            var queryCount = matches ? matches.length : 0;

            // Scroll to results Or hide filters
            if (queryCount > 0) $('#results-list').scrollView();
            else toggleFilters();

            // init filter button action
            $(".toggle-filters-btn").on('click', function () {
                toggleFilters()
            });

            // If Page is MyList then change affectation
            {% if type == 'mylist' %}
            $("#row-form_affectation input")
                    .val('{{ firstName }} {{ lastName }}')
                    .attr('disabled', 'disabled');
            $(".filter_form form").attr('action', "{{ path(app.request.attributes.get('_route')) }}");
            {% endif %}
        }

        function updateTabs() {
            loadMyLeadsTab();
            loadTeamLeadsTabs();
            loeadDptLeadsTabs();
        }

        // Ajax Page
        var tabs = [];

        // Load default tab content
        function loadMyLeadsTab(url) {
            if (!url) {
                var url = "{{ path ('_leads_fragment_myleads') }}";
            }
            var data = {};
            var container = $("#home");

            $.ai.mask({
                aiMask: 'home',
                aiMaskmsg: '<img src="{{ asset('bundles/tellawleadsfactory/ajax-indicator/img/ring-alt.gif') }}">'
            });

            fragmentAjaxCall(url, data, container, function (result) {
                $('.st_per_page').change(function () {
                    var route = '{{ path ('_leads_fragment_myleads') }}';
                    loadMyLeadsTab(route + '/1/' + $(this).val());
                });
            });
        }

        function loadTeamLeadsTabs() {

            // Create Array of teams
            var teams = [];
            {% for teamName, teamId in teams %}
            teams.push("{{ teamId }}");
            {% endfor %}

            for (var i = 0, len = teams.length; i < len; i++) {
                loadTeamLeadsTab(null, teams[i]);
            }

        }

        // Load default tab content
        function loadTeamLeadsTab(url, id) {

            if (!url) {
                var url = "{{ path ('_leads_fragment_teamleads') }}";
            }
            var data = {"id": id};
            var container = $("#" + id);

            $.ai.mask({
                aiMask: id,
                aiMaskmsg: '<img src="{{ asset('bundles/tellawleadsfactory/ajax-indicator/img/ring-alt.gif') }}">'
            });

            fragmentAjaxCall(url, data, container, function (result) {
                $('.st_per_pageTeam').change(function () {
                    var route = '{{ path ('_leads_fragment_teamleads') }}';
                    loadTeamLeadsTab(route + '/1/' + $(this).val(), id);
                });

            });
        }

        function loeadDptLeadsTabs() {

            var departements = [];
            {% for dptName, dptId in departements %}
            departements.push("{{ dptId }}");
            {% endfor %}

            for (var i = 0, len = departements.length; i < len; i++) {
                loadDptLeadsTab(null, departements[i]);
            }

        }

        // Load default tab content
        function loadDptLeadsTab(url, id) {

            if (!url) {
                var url = "{{ path ('_leads_fragment_dptleads') }}";
            }
            var data = {"id": id};
            var container = $("#" + id);

            $.ai.mask({
                aiMask: id,
                aiMaskmsg: '<img src="{{ asset('bundles/tellawleadsfactory/ajax-indicator/img/ring-alt.gif') }}">'
            });

            fragmentAjaxCall(url, data, container, function (result) {
                $('.st_per_pageDpt').change(function () {
                    console.log(id);
                    var route = '{{ path ('_leads_fragment_dptleads') }}';
                    loadDptLeadsTab(route + '/1/' + $(this).val(), id);
                });
            });
        }

        $("#filterform").submit(function (event) {
            if ($("#form_affectation").val() == "") {
                $("#form_affectation").val($("#defaultUser").val());
            }
        });


        $.fn.scrollView = function () {
            return this.each(function () {
                $('html, body').animate({
                    scrollTop: $(this).offset().top
                }, 1000);
            });
        };

        function setAutoComplete() {
            $("#form_affectation").autocomplete({
                source: "{{ path('_leads_users_search_ajax') }}",
                minLength: 3,
                click: function (event, ui) {
                    event.preventDefault();
                    $("#form_affectation").val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#form_affectation").val(ui.item.label);
                    return false;
                }
            });
        }

        function toggleFilters() {
            $("#row-form_email").slideToggle('fast');
            $("#row-form_utmcampaign").slideToggle('fast');
            $("#row-form_firstname").slideToggle('fast');
            $("#row-form_lastname").slideToggle('fast');
            $("#row-form_datemin").slideToggle('fast');
            $("#row-form_datemax").slideToggle('fast');
            $("#row-form_keyword").slideToggle('fast');
            $("#row-form_affectation").slideToggle('fast');
            $("#row-form_workflowStatus").slideToggle('fast');
            $("#row-form_workflowType").slideToggle('fast');
            $("#row-form_workflowTheme").slideToggle('fast');
            return ($(".toggle-filters-i").text() == '+') ?
                    $(".toggle-filters-i").text('-') :
                    $(".toggle-filters-i").text('+');
        }

        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>

{% endblock %}
{% block javascript %}

{% endblock %}
