{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>{{ configuration.name }}</h1>
        </div>
    </div>
{% for line in configuration.content%}


    {% if line.title %}
    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h2>{{ line.title }}</h2>
        </div>
    </div>
        {% endif %}
    <div class="col-md-12">
        {% for widget in line.widgets  %}
            <div class="col-md-{{ widget.size }}"  style="min-height:320px;">
                <p id="title-{{ widget.id }}" style="font-weight:bold">&nbsp;</p>
                <div class="col-md-12"  style="padding:0px;margin:0px;border:1px solid #e0e0e0;min-height:260px" id="widget-{{ widget.id }}">
                Loading content for : {{ widget.id }}<br/>
                </div>
                <div id="description-{{ widget.id }}" style="font-size:12px;">&nbsp;</div>
            </div>
        {% endfor %}
    </div>
<div>&nbsp;</div>
{% endfor %}

{% endblock %}

{% block javascript %}
<script language="javascript">

    var widgets = [];
    {% for line in configuration.content%}
    {% for widget in line.widgets  %}
    widgets.push ("{{ widget.id }}");
    {% endfor %}
    {% endfor %}

    $( document ).ready(function() {
        loadWidgets();
    });

    function loadWidgets () {

    {% for line in configuration.content%}
        {% for widget in line.widgets  %}
        loadWidget ("{{ widget.id }}");
        {% endfor %}
    {% endfor %}

    }

    function loadWidget ( id ) {
        if (!url) {
        var url = "{{ path ('_project_dashboard_widget') }}";
        }
        var data = { "id" : id, "mypage" : "{{ mypage }}" } ;
        var container = $("#widget-"+id);

        $.ai.mask({
            aiMask:'home',
            aiMaskmsg:'<img src="{{ asset('bundles/tellawleadsfactory/ajax-indicator/img/ring-alt.gif') }}">'
        })

        fragmentAjaxCall ( url, data, container,
            function (result){


        } );
    }
</script>
{% endblock %}