{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" class="input full-width" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{# src/Acme/TaskBundle/Resources/views/Form/fields.html.twig #}
{% block form_row %}
    {% spaceless %}
        <p class="button-height inline-label">
            <label for="input-3" class="label">{{ form_label(form) }}</label>
            {{ form_widget(form) }}
        </p>
    {% endspaceless %}
{% endblock form_row %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }} rows="3" class="input full-width">{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
    {% spaceless %}
        <input type="submit" class="button blue-gradient" {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock submit_widget %}

{% block button_row %}
    {% spaceless %}
        <div class="form-actions row-fluid">
            <div class="span3 visible-desktop"></div>
            <div class="span7 ">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        <form class="form-horizontal row-fluid" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block json_widget %}

    <div id="jsoneditor-{{ id }}"></div>

    <script type="text/javascript" >
        // create the editor
        var container = document.getElementById('jsoneditor-{{ id }}');


        var options = {
            mode: 'code',
            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
            error: function (err) {
                alert(err.toString());
            }
        };

        var json = {{ value|raw }};

        var editor = new JSONEditor(container, options, json);

        function validateFormAction() {
            document.getElementById("form_exportConfig").value = JSON.stringify(editor.get());
            //alert (document.getElementById("form_exportConfig").value);
        }

    </script>

    {% spaceless %}
        <textarea {{ block('widget_attributes') }} rows="3" style="display:none" class="json input full-width">{{ value|raw }}</textarea>
    {% endspaceless %}
{% endblock %}
