{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <script>

        function validateFormAction() {

            document.getElementById("form_exportConfig").value = JSON.stringify(editor.get());
            //alert (document.getElementById("form_exportConfig").value);

            document.getElementById("sourceWidget").value = editor1.getValue();
            document.getElementById("scriptWidget").value = editor2.getValue();
            document.getElementById("source2Widget").value = editor3.getValue();
            document.getElementById("form_alertRules").value = JSON.stringify(editorRules.get());

        }

    </script>

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="col-md-8">
        <div class="widget-body custom-form">
            {{ form(form) }}
        </div>
    </div>

    <div class="col-md-4">
        {% if id is defined %}
            <h3 class="custom-heading">Actions:</h3>
            <div>
                <a class="btns  blue  m-sml-btn" style="margin:0px 0px 10px 0px" href="{{ path('_client_twig_preview', {'code': code}) }}" data-featherlight="ajax">Apercu du formulaire</a>
                <button type="button" class="btns  blue  m-sml-btn" style="margin:0px 0px 10px 0px" onClick="window.location.href='{{ path('_entity_leads_export', {'id': id}) }}'">Export des leads du formulaire</button>
                {% if funtionnalTestEnabled %}
                    <a class="btns  blue  m-sml-btn" style="margin:0px 0px 10px 0px" href="{{ path('_form_runtest', {'id': id}) }}" target="_blank">Lancer les tests fonctionnels</a>
                {% else %}
                    <a class="btns gray  m-sml-btn" style="margin:0px 0px 10px 0px" href="#" >Tests fonctionnels non activés</a>
                {% endif %}
            </div>
            <div style="clear:both"></div>
        {% endif %}

        <h3 class="custom-heading">Tests fonctionnels:</h3>
        {% if formObj.testStatus == 2 %}
        <p style="color:#00aa00">votre formulaire a passé les tests fonctionnels!</p>
        {% endif %}
        {% if formObj.testStatus == 0 %}
            <p style="color:#aa0000">votre formulaire n'a pas passé les tests fonctionnels!</p>
        {% endif %}
        {% if formObj.testStatus == 1 %}
            <p style="color:#aa0000">votre formulaire n'a pas passé les tests fonctionnels!</p>
        {% endif %}

        {% if screenofForm is defined %}
        <a href="{{ screenofForm }}"><img src="{{ screenofForm }}"/></a>
        {% endif %}

        {% if screenofResult is defined %}
            <a href="{{ screenofResult }}"><img src="{{ screenofResult }}"/></a>
        {% endif %}

        {% if formObj.testLog %}
            <h3 class="custom-heading">Log du test</h3>
            <div>

            {{ formObj.testLog|raw }}

            </div>
        {% endif %}

    </div>

{% endblock %}