
<ul>
    <li id="intro4"><a href="{{ path ('_monitoring_dashboard') }}" title="" ><i class="fa fa-desktop"></i>Dashboard</a></li>
    <li><a href="{{ path ('_monitoring_index') }}" title="" ><i class="fa fa-tint"></i>Stats</a>

    <li id="intro4"><a href="#" title="" ><i class="fa fa-rocket"></i>Formulaires</a>
        <ul>
            <li><a href="{{ path ('_form_list') }}" title="">Formulaires</a></li>
            <li><a href="{{ path ('_formType_list') }}" title="">Types</a></li>
            <li><a href="{{ path ('_referenceList_list') }}" title="">Listes de références</a></li>
        </ul>
    </li>
    <li id="intro5"><a href="#" title="" ><i class="fa fa-heart-o"></i>Données</a>
    <ul>
        <li><a href="{{ path ('_leads_list') }}" title="">Leads</a></li>
        <li><a href="{{ path ('_export_history') }}" title="">Exports</a></li>
    </ul></li>


    </li>
    <li><a href="form.html" title="" ><i class="fa fa-paperclip"></i>Config</a>    <ul>
            <li><a href="{{ path ('_users_list') }}" title="">Utilisateurs</a></li>
            <li><a href="{{ path ('_scope_list') }}" title="">Scopes</a></li>
        </ul></li>

</ul>
