<!-- formstInTypeWidget.html.twig -->
<table id="country-list" class="sortable-table">
    <thead>
    <tr class="country-table-head">
        <th class="sort-down">Formulaires <span>▼</span></th>
        <th>Vues <span>&nbsp;</span></th>
        <th>Leads <span>&nbsp;</span></th>
        <th class="date-sort" data-date-format="m d Y">Tr <span>&nbsp;</span></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for form in forms %}
    <tr>
        <td>
            <a href="{{ path('_monitoring_dashboard_form_page', {'form_id': form.id}) }}" title="Voir les statistiques du formulaire">{{ form.name }}</a>
        </td>
        <td>{{ form.nbViews }}</td>
        <td>{{ form.nbLeads }}</td>
        <td>{{ form.transformRate }} %</td>
        <td>
            <a href="{{ path('_form_edit', {'id': form.id}) }}" alt="Editer"><img title="Editer" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/editer.png') }}"/></a>
            <a href="{{ path('_monitoring_dashboard_form_page', {'form_id': form.id}) }}"  alt="Voir les statistiques"><img title="Voir les statistiques" style="height:40px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/statistiques.png') }}"/></a></td>
    </tr>
    {% else %}

        <tr>
            <td colspan="4">Aucun élément dans cette liste</td>

        </tr>

    {% endfor %}

    </tbody></table>