{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}

            <h3>Eléments de la liste :</h3>

        <div  style="height:250px;overflow:scroll;overflow-x: hidden">
            <table id="sort" class='table table-striped table-bordered'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Valeur</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in elements %}

                    {% if item.status == 1 %}
                        {% set color =  "style=background-color:#FFFFFF;color:#0000;" %}
                        {% set texte = "activé" %}
                        {% elseif item.status == 0 %}
                        {% set color =  "style=background-color:#EFEFEF;color:#A0A0A0;" %}
                        {% set texte = "désactivé" %}
                    {%  endif %}

                    <tr id="element_{{ item.id }}" style="cursor: pointer;">
                        <td {{ color }}>{{ item.id }}</td>
                        <td {{ color }}>{{ item.name }}</td>
                        <td {{ color }}>{{ item.value }}</td>
                        <td {{ color }}>{{ texte }}</td>
                        <td {{ color }} style="vertical-align: middle">
                            <center>
                            <a onclick="editElement({{ item.id }})" alt="Editer" ><img title="Editer" style="height:25px;" src="{{ asset('bundles/tellawleadsfactory/img/icons2/editer.png') }}"/></a>
                            </center>
                        </td>
                    </tr>

                {% else %}

                    <tr>
                        <td colspan="4">Aucun élément dans cette liste</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
</div>
