{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryThemeBundle:Form:fields.html.twig' %}
{% extends 'TellawLeadsFactoryThemeBundle::base.html.twig' %}
{% block body %}

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>Dashboard utilisateur : <i> &laquo; {{ app.user.firstname }} {{ app.user.lastname }} &raquo;</i></h1>
        </div>
    </div>

    <div class="col-md-8" style="margin-bottom:25px;">
        <div id="demo-chart" class="widget-body blue">
            <!-- This div will hold the chart generated in the footer -->
        </div>
    </div>

    <div class="col-md-4">
        <div class="widget-body custom-form">
            {{ form(form) }}
        </div>
    </div>

    <!-- Chart -->
    {% if(app.request.get('form')) %}
        {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:chartDashboard', {
            "period" : app.request.get('form')['period'],
            "mode":  app.request.get('form')['mode']
        }
        )) }}
    {% else %}
        {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:chartDashboard')) }}
    {% endif %}

    <!-- ==== Monitoring Tous type = Dashboard avec les types affichés ===>

    <!-- ==== DASHBOARD === -->

    <div class="with-padding">

        {% if(app.request.get('form')) %}
            {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:measureDashboard', {"mode":  app.request.get('form')['mode']})) }}
        {% else %}
            {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:measureDashboard')) }}
        {% endif %}

    </div>

{% endblock %}
{% block javascript %}

{% endblock %}