{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryThemeBundle:Form:fields.html.twig' %}
{% extends 'TellawLeadsFactoryThemeBundle::base.html.twig' %}
{% block body %}

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>Dashboard de formulaires : <i>  de &laquo; {{ app.user.firstname }} {{ app.user.lastname }} &raquo;</i></h1>
        </div>
    </div>

    <div class="col-md-12">

        <div class="col-md-10" style="margin-top:20px;margin-bottom:25px;">
            <div id="demo-chart" class="widget-body blue">
                <!-- This div will hold the chart generated in the footer -->
            </div>
        </div>

        <div class="col-md-2" style="margin-top:20px;">
            <div class="widget-body custom-form">
                {{ form(form) }}
            </div>
        </div>

        <div class="col-md-2" style="margin-top:10px;">
            <div class="widget-body custom-form" style="padding-top:10px;">
            <div style="margin-left:10px;margin-bottom:5px;">Vos formulaires favoris :</div>
            <ul>
                {% for bookmark in bookmarks %}
                    <li><a href="#type-{{ bookmark.form.id }}">{{ bookmark.form.name }}</a></li>
                {% endfor %}
            </ul>
                </div>
        </div>

    </div>

    <!-- Chart -->
        {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:chartDashboard', {
            "period"    : app.request.get('form')['period'],
            "mode"      : "Form"
        }
        )) }}


    <!-- ==== Monitoring Tous type = Dashboard avec les types affichés ===>

    <!-- ==== DASHBOARD === -->
<!--
    <div class="with-padding">
            render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:measureDashboard')) }}
    </div>
-->
    <script>
        var skycons = new Skycons({"color": "white"});
    </script>

    {% for bookmark in bookmarks %}

        <div class="col-md-12" style="padding:20px 0px 20px 0px;margin-bottom:20px;border:1px dashed #a0a0a0">
            <a id="type-{{ bookmark.form.id }}"/>
            <div class="col-md-8">

                <div class="col-md-12" >
                    <div class="heading-sec" id="intro6">
                        <h1>{{ bookmark.form.name }} : <i> &laquo; formulaire &raquo;</i></h1>
                    </div>
                </div>

                <div class="col-md-12" >
                    {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:getFormViewStatistics', {"form_id" : bookmark.form.id})) }}
                </div>


                <div class="col-md-12" style="margin-top:10px;" >
                    <div class="col-md-8" >
                    </div>
                    <div class="col-md-4" style="text-align:right">
                            <a class="btn blue" href="{{ path('_monitoring_dashboard_form_page', {'form_id': bookmark.form.id}) }}">Voir le détail du formulaire</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <!-- Render the Alert Widget -->
            {{ render(controller('TellawLeadsFactoryBundle:Admin/Monitoring:getAlertWidgetForForm', {"form_id" : bookmark.form.id})) }}
            </div>
        </div>

    {% endfor %}

    <script>
        skycons.play();
    </script>


{% endblock %}
{% block javascript %}
<script>
    $("a[href^=#]").click(function(e) {
        e.preventDefault();
        var dest = $(this).attr('href');
        $('html,body').animate({
            scrollTop: $(dest).offset().top - 60
        }, 'slow');
    });
</script>
{% endblock %}