<div class="col-md-12"></div>
<div class="col-md-12">
    <div class="heading-sec" id="intro6">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="col-md-12">

    <div class="col-md-3">
        <div class="weather-box widget-body  yellow">
            <div class="weather-day">
                <span>21</span>
                <p>THURSDAY</p>
            </div>

            <div>
                <canvas id="rain" width="64" height="64"></canvas>
                <p>ABU DHABI</p>
            </div>
            <div >
                <canvas id="rain" width="64" height="64"></canvas>
                <p>Plouf</p>
            </div>
        </div>
    </div>

    {% for item in entities %}

    {{ alerteutil.setValuesForAlerts(item) }}

    <div class="four-columns six-columns-tablet twelve-columns-mobile">
        <div class="block large-margin-bottom">
            <div class="block-title">
                <h3>{{ item.name }}</h3>
                <span class="ribbon"><span class="ribbon-inner  {{ item.yesterdayStatusColor }}-gradient">{{ item.yesterdayStatusText }}</span></span>
            </div>
            <ul class="events">
                <li>
                    <span class="event-date  {{ item.yesterdayStatusColor }}">{{ item.yesterdayValue }}</span>
                    Mouvement depuis la valeur de référence:<br>
                    <span class="fact-progress  {{ item.yesterdayStatusColor }}">{{ item.yesterdayVariation|raw }} % (ancienne valeur : {{ item.weekBeforeValue }})</span>

                </li>
            </ul>
        </div>
    </div>

    {% endfor %}

</div>